In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
cn = ['age','sex','chest_pain_type','restbps','chol','blood_sugar','restecg','max_heartrate','exang','oldpeak','slope','num_mjr_vess','thal','dx']


df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data', names=cn)

In [3]:
df.head()

,age,sex,chest_pain_type,restbps,chol,blood_sugar,restecg,max_heartrate,exang,oldpeak,slope,num_mjr_vess,thal,dx
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [4]:
df.describe() # need to preprocess the data!

,age,sex,chest_pain_type,restbps,chol,blood_sugar,restecg,max_heartrate,exang,oldpeak,slope,dx
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000

In [5]:
df['dx'].value_counts()

0    164
1     55
2     36
3     35
4     13
Name: dx, dtype: int64

In [6]:
df.dtypes

age                float64
sex                float64
chest_pain_type    float64
restbps            float64
chol               float64
blood_sugar        float64
restecg            float64
max_heartrate      float64
exang              float64
oldpeak            float64
slope              float64
num_mjr_vess        object
thal                object
dx                   int64
dtype: object

In [7]:
df['thal'] = pd.to_numeric(df['thal'], errors='coerce')
df['num_mjr_vess'] = pd.to_numeric(df['num_mjr_vess'], errors='coerce')

df.dtypes

age                float64
sex                float64
chest_pain_type    float64
restbps            float64
chol               float64
blood_sugar        float64
restecg            float64
max_heartrate      float64
exang              float64
oldpeak            float64
slope              float64
num_mjr_vess       float64
thal               float64
dx                   int64
dtype: object

In [8]:
df.head()

,age,sex,chest_pain_type,restbps,chol,blood_sugar,restecg,max_heartrate,exang,oldpeak,slope,num_mjr_vess,thal,dx
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [9]:
df['heart_dx'] = df['dx'].apply(lambda x: 1 if x >= 1 else 0)

df.head()

,age,sex,chest_pain_type,restbps,chol,blood_sugar,restecg,max_heartrate,exang,oldpeak,slope,num_mjr_vess,thal,dx,heart_dx
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0,0

In [10]:
df.describe()

# thal and num_mjr_vess have less columns than others. Need to know which columns to drop from others, 
# should I use dropna?

,age,sex,chest_pain_type,restbps,chol,blood_sugar,restecg,max_heartrate,exang,oldpeak,slope,num_mjr_vess,thal,dx,heart_dx
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.937294,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,1.228536,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000,1.000000

In [11]:
df.dropna(inplace=True)

In [12]:
df['sex'].value_counts()

1.0    201
0.0     96
Name: sex, dtype: int64

In [13]:
df['Man'] = df['sex'] == 1 # Males

df['Woman'] = df['sex'] == 0 # Females

# df.head()

In [14]:
df['Man'] = pd.to_numeric(df['Man'], errors='coerce')

df['Woman'] = pd.to_numeric(df['Woman'], errors='coerce')

### All Data Log Regression Models Comparing Different Attributes

In [15]:
model_all = 'heart_dx ~ age + sex + chest_pain_type + restbps + chol + blood_sugar + restecg + max_heartrate + slope + exang + oldpeak'

result_all = smf.logit(formula=model_all, data=df).fit()
print(result_all.summary())

# lets say alpha = 0.05

Optimization terminated successfully.
         Current function value: 0.420514
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      285
Method:                           MLE   Df Model:                           11
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3907
Time:                        20:45:49   Log-Likelihood:                -124.89
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 1.239e-28
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -7.0037      2.522     -2.777      0.005     -11.947      -2.061
age                 0.0241      0.021      1.155      0.248      -0.017       0.065
sex                 1.9329      0.400      4.837      0.000       1.150       2.716
chest_pain_type     0.7900      0.179      4.412      0.000       0.439       1.141
restbps             0.0196      0.010      2.023      0.043       0.001       0.039
chol                0.0052      0.003      1.606      0.108      -0.001       0.012
blood_sugar        -0.3179      0.455     -0.699      0.485      -1.210       0.574
restecg             0.1932      0.164      1.179      0.239      -0.128       0.514
max_heartrate      -0.0243      0.009     -2.641      0.008      -0.042      -0.006
slope               0.2990      0.322      0.928      0.354      -0.333       0.931
exang               0.9314      0.364      2.559      0.010       0.218       1.645
oldpeak             0.4949      0.184      2.687      0.007       0.134       0.856
===================================================================================

In [16]:
model_1 = 'heart_dx ~ sex + chest_pain_type + restbps +  max_heartrate + exang + oldpeak'

result_1 = smf.logit(formula=model_1, data=df).fit()
print(result_1.summary())

Optimization terminated successfully.
         Current function value: 0.435038
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      290
Method:                           MLE   Df Model:                            6
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3696
Time:                        20:45:49   Log-Likelihood:                -129.21
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 3.667e-30
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -3.5124      1.827     -1.923      0.054      -7.092       0.068
sex                 1.6221      0.362      4.485      0.000       0.913       2.331
chest_pain_type     0.7758      0.174      4.446      0.000       0.434       1.118
restbps             0.0227      0.009      2.466      0.014       0.005       0.041
max_heartrate      -0.0276      0.008     -3.452      0.001      -0.043      -0.012
exang               0.9295      0.354      2.627      0.009       0.236       1.623
oldpeak             0.6022      0.157      3.843      0.000       0.295       0.909
===================================================================================

In [17]:
model_2 = 'heart_dx ~ sex + chest_pain_type + restbps +  max_heartrate + exang + oldpeak'

result_2 = smf.logit(formula=model_2, data=df).fit()
print(result_2.summary())

Optimization terminated successfully.
         Current function value: 0.435038
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      290
Method:                           MLE   Df Model:                            6
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3696
Time:                        20:45:49   Log-Likelihood:                -129.21
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 3.667e-30
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -3.5124      1.827     -1.923      0.054      -7.092       0.068
sex                 1.6221      0.362      4.485      0.000       0.913       2.331
chest_pain_type     0.7758      0.174      4.446      0.000       0.434       1.118
restbps             0.0227      0.009      2.466      0.014       0.005       0.041
max_heartrate      -0.0276      0.008     -3.452      0.001      -0.043      -0.012
exang               0.9295      0.354      2.627      0.009       0.236       1.623
oldpeak             0.6022      0.157      3.843      0.000       0.295       0.909
===================================================================================

In [18]:
model_3 = 'heart_dx ~ sex + chest_pain_type + restbps +  max_heartrate'

result_3 = smf.logit(formula=model_3, data=df).fit()
print(result_3.summary())

Optimization terminated successfully.
         Current function value: 0.477560
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      292
Method:                           MLE   Df Model:                            4
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3080
Time:                        20:45:50   Log-Likelihood:                -141.84
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 2.436e-26
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -2.4002      1.742     -1.378      0.168      -5.814       1.014
sex                 1.7474      0.340      5.135      0.000       1.080       2.414
chest_pain_type     0.9427      0.172      5.480      0.000       0.605       1.280
restbps             0.0300      0.009      3.510      0.000       0.013       0.047
max_heartrate      -0.0398      0.008     -5.242      0.000      -0.055      -0.025
===================================================================================

### Attempting to compare Males Only against other attribtues

In [19]:
model_Men_all = 'heart_dx ~ age + Man + chest_pain_type + restbps + chol + blood_sugar + restecg + max_heartrate + slope + exang + oldpeak'

result_men_all = smf.logit(formula=model_Men_all, data=df).fit()
print(result_men_all.summary())

# lets say alpha = 0.05


#Same inital results

Optimization terminated successfully.
         Current function value: 0.420514
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      285
Method:                           MLE   Df Model:                           11
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3907
Time:                        20:45:50   Log-Likelihood:                -124.89
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 1.239e-28
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -7.0037      2.522     -2.777      0.005     -11.947      -2.061
Man[T.True]         1.9329      0.400      4.837      0.000       1.150       2.716
age                 0.0241      0.021      1.155      0.248      -0.017       0.065
chest_pain_type     0.7900      0.179      4.412      0.000       0.439       1.141
restbps             0.0196      0.010      2.023      0.043       0.001       0.039
chol                0.0052      0.003      1.606      0.108      -0.001       0.012
blood_sugar        -0.3179      0.455     -0.699      0.485      -1.210       0.574
restecg             0.1932      0.164      1.179      0.239      -0.128       0.514
max_heartrate      -0.0243      0.009     -2.641      0.008      -0.042      -0.006
slope               0.2990      0.322      0.928      0.354      -0.333       0.931
exang               0.9314      0.364      2.559      0.010       0.218       1.645
oldpeak             0.4949      0.184      2.687      0.007       0.134       0.856
===================================================================================

In [20]:
model_Men1 = 'heart_dx ~ age + Man + chest_pain_type + chol'

result_men1 = smf.logit(formula=model_Men1, data=df).fit()
print(result_men1.summary())

Optimization terminated successfully.
         Current function value: 0.519765
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      292
Method:                           MLE   Df Model:                            4
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.2469
Time:                        20:45:50   Log-Likelihood:                -154.37
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 5.445e-21
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -9.5610      1.421     -6.729      0.000     -12.346      -6.776
Man[T.True]         1.8350      0.337      5.439      0.000       1.174       2.496
age                 0.0655      0.017      3.804      0.000       0.032       0.099
chest_pain_type     1.0654      0.167      6.389      0.000       0.739       1.392
chol                0.0044      0.003      1.640      0.101      -0.001       0.010
===================================================================================

In [21]:
model_Men2 = 'heart_dx ~ age + Man + chol + blood_sugar'

result_men2 = smf.logit(formula=model_Men2, data=df).fit()
print(result_men2.summary())

Optimization terminated successfully.
         Current function value: 0.606936
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      292
Method:                           MLE   Df Model:                            4
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.1206
Time:                        20:45:50   Log-Likelihood:                -180.26
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 4.757e-10
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -5.9432      1.109     -5.358      0.000      -8.117      -3.769
Man[T.True]     1.6369      0.305      5.360      0.000       1.038       2.235
age             0.0648      0.015      4.202      0.000       0.035       0.095
chol            0.0046      0.003      1.792      0.073      -0.000       0.010
blood_sugar    -0.2672      0.356     -0.750      0.453      -0.966       0.431
===============================================================================

### Attempt with Women

In [22]:
model_W_all = 'heart_dx ~ age + Woman + chest_pain_type + restbps + chol + blood_sugar + restecg + max_heartrate + slope + exang + oldpeak'

result_W_all = smf.logit(formula=model_W_all, data=df).fit()
print(result_W_all.summary())

# lets say alpha = 0.05

Optimization terminated successfully.
         Current function value: 0.420514
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      285
Method:                           MLE   Df Model:                           11
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.3907
Time:                        20:45:50   Log-Likelihood:                -124.89
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 1.239e-28
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -5.0709      2.419     -2.096      0.036      -9.812      -0.329
Woman[T.True]      -1.9329      0.400     -4.837      0.000      -2.716      -1.150
age                 0.0241      0.021      1.155      0.248      -0.017       0.065
chest_pain_type     0.7900      0.179      4.412      0.000       0.439       1.141
restbps             0.0196      0.010      2.023      0.043       0.001       0.039
chol                0.0052      0.003      1.606      0.108      -0.001       0.012
blood_sugar        -0.3179      0.455     -0.699      0.485      -1.210       0.574
restecg             0.1932      0.164      1.179      0.239      -0.128       0.514
max_heartrate      -0.0243      0.009     -2.641      0.008      -0.042      -0.006
slope               0.2990      0.322      0.928      0.354      -0.333       0.931
exang               0.9314      0.364      2.559      0.010       0.218       1.645
oldpeak             0.4949      0.184      2.687      0.007       0.134       0.856
===================================================================================

In [23]:
model_W1 = 'heart_dx ~ age + Woman + chest_pain_type + chol'

result_W1 = smf.logit(formula=model_W1, data=df).fit()
print(result_W1.summary())

Optimization terminated successfully.
         Current function value: 0.519765
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      292
Method:                           MLE   Df Model:                            4
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.2469
Time:                        20:45:50   Log-Likelihood:                -154.37
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 5.445e-21
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -7.7260      1.268     -6.094      0.000     -10.211      -5.241
Woman[T.True]      -1.8350      0.337     -5.439      0.000      -2.496      -1.174
age                 0.0655      0.017      3.804      0.000       0.032       0.099
chest_pain_type     1.0654      0.167      6.389      0.000       0.739       1.392
chol                0.0044      0.003      1.640      0.101      -0.001       0.010
===================================================================================

In [24]:
model_W2 = 'heart_dx ~ age + Woman + chol + blood_sugar'

result_W2 = smf.logit(formula=model_W2, data=df).fit()
print(result_W2.summary())

Optimization terminated successfully.
         Current function value: 0.606936
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               heart_dx   No. Observations:                  297
Model:                          Logit   Df Residuals:                      292
Method:                           MLE   Df Model:                            4
Date:                Mon, 07 Nov 2022   Pseudo R-squ.:                  0.1206
Time:                        20:45:50   Log-Likelihood:                -180.26
converged:                       True   LL-Null:                       -204.97
Covariance Type:            nonrobust   LLR p-value:                 4.757e-10
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -4.3062      0.986     -4.366      0.000      -6.239      -2.373
Woman[T.True]    -1.6369      0.305     -5.360      0.000      -2.235      -1.038
age               0.0648      0.015      4.202      0.000       0.035       0.095
chol              0.0046      0.003      1.792      0.073      -0.000       0.010
blood_sugar      -0.2672      0.356     -0.750      0.453      -0.966       0.431
=================================================================================

In [25]:
# So far all results are exactly the same. Maybe We should try a different approach?

### Nothing really...wasn't sure if I should have been trying to standardize the data or not.

In [26]:
X = df[['age','sex','chest_pain_type','restbps','chol','blood_sugar','restecg','max_heartrate','slope','exang','oldpeak','num_mjr_vess','thal']]

y = df['heart_dx']


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=55) # if we don't specify wha the test and train set is (% wise) the default is the test set will be 25% of the data.

X_test.shape

(75, 13)